body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Serif JP', serif;

  display: flex;
  flex-flow: column nowrap;
  
  align-items: center;
  
}

a {
  color: #00B7FF;
}

#flights-table {
  width: 800px

}

nav > a {
  margin: 100px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
}
