body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Serif JP', serif;

  display: flex;
  flex-flow: column nowrap;
  
  align-items: center;
  
}

a {
  color: #00B7FF;
}

#flights-table {
  width: 800px

}

nav {
  margin-top: 50px;
}
